<h1 mat-dialog-title>Add A Note</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Note</mat-label>
      <input
        type="text"
        matInput
        placeholder="Write it..."
        [formControl]="note"
        required
      />
      <mat-hint>Ensure you put your thoughts into writing</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Instance</mat-label>
      <input
        type="number"
        matInput
        placeholder="1235"
        [formControl]="instance"
        required
      />
      <mat-hint>Input instance</mat-hint>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial [disabled]="note.errors || instance.errors" (click)="addNote()">Add</button>
</div>

<ng-container *ngIf="addNote$ | async"></ng-container>
