<div class="contOne">
  <div class="txtOne">
    <h1>Your daily journey is coming to digital paper now.</h1>
    <h2>Write whatever you lived and what you thought.</h2>
    <button routerLink="/login" mat-button color="accent">
      Try Notes. It's free
    </button>
    <!-- <button mat-fab extended color="primary">
    <mat-icon>favorite</mat-icon>
    Primary
  </button> -->
  </div>
  <div class="imgOne">
    <img src="../../assets/imgOne.png" alt="One" />
  </div>
</div>
<hr />
<div class="contOne contTwo">
  <div class="imgOne imgTwo">
    <img src="../../assets/imgTwo.png" alt="Two" />
  </div>
  <div class="txtOne">
    <h1>Making a lot of room in the mind...</h1>
    <h2>Write whatever you lived and what you thought.</h2>
    <!-- <button mat-button color="accent">Try Notes. It's free</button> -->
    <!-- <button mat-fab extended color="primary">
    <mat-icon>favorite</mat-icon>
    Primary
  </button> -->
  </div>
</div>
<hr />
<div class="contOne contThree">
  <div class="txtOne">
    <h1>Your daily journey can now be documented digitally.</h1>
    <h2>Record your experiences and thoughts for future reference.</h2>
    <button
      mat-button
      color="primary"
      routerLink="/login"
      routerLinkActive="router-link-active"
    >
      Try Notes. It's free
    </button>
    <!-- <button mat-fab extended color="primary">
    <mat-icon>favorite</mat-icon>
    Primary
  </button> -->
  </div>
  <div class="imgOne imgThree">
    <img src="../../assets/imgThree.jpg" alt="One" />
  </div>
</div>
