<div class="contOne">
  <h1>Document your experiences and reflections as they happened.</h1>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input type="text" matInput placeholder="John Doe" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Names don't have numbers</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="abc@gmail.com" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Ensure you input a valid email</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="******" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Password has to be greater than 7 characters</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput placeholder="*****" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Password also have to match</mat-hint>
    </mat-form-field>
  </p>
  <button mat-button color="accent">Register</button>
  <div class="footer">
    <p><span>Existing Member? </span> <a href="/login">SIGN IN</a></p>
  </div>
</div>
